@model List<VirtualFlowersMVC.Models.RankViewModel>

@{
    ViewBag.Title = "Ranking list";
}

<h2>Ranking list - @ViewBag.Date</h2>

<table class="table">
    <tr>
       <th>
            RankPosition
        </th>
        <th>
            TeamName
        </th>
        <th>
            Points
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RankPosition)
            </td>
            <td>
                @Html.ActionLink(item.TeamName, "Index", "Matches", new { TeamId = item.TeamId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
    }

</table>
