<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2322be2-4ebb-4875-8ae3-a607f18e5f5b/resourceGroups/Default-SQL-NorthEurope/providers/Microsoft.Web/sites/virtualflowers</ResourceId>
    <ResourceGroup>Default-SQL-NorthEurope</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://virtualflowers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>virtualflowers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>virtualflowers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$virtualflowers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VirtualFlowersMVC.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VirtualFlowersMVC.Models.ApplicationDbContext, VirtualFlowersMVC" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CsDatabase" Order="2" Enabled="False">
          <Destination Path="Data Source=ie61tzb4m2.database.windows.net,1433;Initial Catalog=master;Persist Security Info=True;User ID=oskarbjar@ie61tzb4m2;Password=Oskar.123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Models.DatabaseContext, Models" MigrationConfiguration="Models.Migrations.Configuration, Models" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CsDatabase-Web.config Connection String">
      <ParameterValue>Data Source=ie61tzb4m2.database.windows.net,1433;Initial Catalog=master;Persist Security Info=True;User ID=oskarbjar@ie61tzb4m2;Password=Oskar.123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VirtualFlowersMVC.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="CsDatabase-Web.config Connection String">
      <ParameterValue>Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase1;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="VirtualFlowersMVC.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase1;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CsDatabase-Web.config Connection String">
      <ParameterValue>connectionString="Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase1;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="VirtualFlowersMVC.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>connectionString="Server=ie61tzb4m2.database.windows.net,1433;Initial Catalog=CsDatabase1;Persist Security Info=False;UserID=oskarbjar@ie61tzb4m2;Password=Oskar.123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CsDatabase" />
    <_ConnectionStringsToInsert Include="VirtualFlowersMVC.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>