@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />

<p>We started building this site in 2016</p>
<p>This site was created as a tool, to give gamblers the edge they needed to beat gambling sites.</p>

<p>Our goal is to provide "bet" targeted information in various sports.  And have gamblers all over the world in subscription making ton of money! :D</p>
