@using VirtualFlowersMVC.Models
@model CompareStatisticModel
@{
    ViewBag.Title = "Compare";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<h2>
    @Html.ActionLink("Compare", "Compare", new { }, new { style="text-decoration:none" })
</h2>
<form action="Compare" method="post" class="form-inline">
    <div class="col-lg-3">
        <input type="text" style="width:80px" class="form-control" name="Team1Id" value="" placeholder="Team 1" />
        <input type="text" style="width:80px" class="form-control" name="Team2Id" value="" placeholder="Team 2" />
    </div>
    <div class="col-lg-9">
        <label for="MatchUrl">Or&nbsp;&nbsp;&nbsp;</label><input type="text" style="width: 800px" class="form-control" name="MatchUrl" value="" placeholder="MatchUrl" />
        <input type="submit" class="btn btn-primary" id="CompareBtn" value="Compare" />
    </div>
</form>

@*<div id="CompareSpinner" style="display: block; margin: auto; width: 35%;">@Html.Partial("Components/_WaitSpinnerPartial")</div>*@

@if (Model != null)
{
    foreach (var Team in Model?.Teams)
    {
        <div class="col-md-6">
            @Html.Partial("Partials/_TeamStatistic", Team)
        </div>
    }
}


<script>
    $(document).ready(function () {
        //$("#CompareSpinner").fadeIn();

        //$("#CompareBtn")
        //.click(function () {
        //    // Loading spinner
        //    $("#CompareSpinner").fadeIn();
        //});

        //$("#loading").fadeIn();

        $("#CompareBtn").click(function () {
            // Loading spinner
            $("#loading").fadeIn();
        });

    });
</script>
