@using Models
@{
    ViewBag.Title = "CS Scraper";
}

<div class="jumbotron">
    <h1>Cs Scraper</h1>
    <p class="lead">The greatest invention since the toaster and the vibrator.</p>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <div class="col-md-3">
                <h2>Team Compare</h2>
                <p>
                    Compare cs:go teams statistics.  <br />To make educational bets!  <br />Or even better... profittable!.
                </p>
                <p><a class="btn btn-default" href="Home/Compare">Compare &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Teams</h2>
                <p>Find your team!  You have a team?  Well what are you waiting for find it!.</p>
                <p><a class="btn btn-default" href="~/Teams/Index">Teams &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Ranking</h2>
                <p>Here is all the ranking you would ever want!  Who was top side, start of march 2016?  We know! We care! lets find out.</p>
                <p><a class="btn btn-default" href="~/Ranks/Index">Ranking &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Transfers</h2>
                <p>Here is all the transfers you would ever want!  New transfer?  Add it here!!!!</p>
                <p><a class="btn btn-default" href="~/Ranks/TransferHistory">Transfers &raquo;</a></p>
            </div>
        }
        else
        {
            <div class="col-md-6">
                <h2>Team Compare</h2>
                <p>
                    Compare cs:go teams statistics.  <br />To make educational bets!  <br />Or even better... profittable!.
                </p>
                <p><a class="btn btn-default" href="Home/Compare">Compare &raquo;</a></p>
            </div>
        }
    }
</div>